/* .jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
} */

.personalLogo {
    width: 1.5em
}

.heroPersonalLogo {
    /* background-color: black; */
    width: 20em
}

#hero {
    padding-top: 6rem;
    /* background-color: #e2edff; */
}

.heroText {
    font-family: 'Architects Daughter', cursive;
}

.heroText h1 {
    font-size: 80px;
}

.imgAbout {
    filter: blur(4px);
}

.imgAbout:hover {
    filter: none;
}


/* #projects {
    background-color: #e2edff;
} */


@media only screen and (max-width: 1024px) {
    .prankText {
        font-size: 18px;
    }
  }